<div class="container__skill"> 
<div class="skill__tittle">

      <h2>Experiencia</h2>
    </div>
      <div class="skill__grid">
        <div class="skill__description" >
            <img src="https://i.ibb.co/yFG2R53/logo-prohuerta-2017.jpg">
          <h2> Pro-Huerta</h2>
          <p >
            Administración de equipamientos de campo. Pasantía en la que estuve a cargo del registro de entrada y salida de equipamiento exclusivo de
            tareas agropecuarias, además de su mantenimiento y reposición
          </p>
          <p>
            2018-2019
        </p>
        </div>
  
      </div>
      <div class="skill__grid">
        <div class="skill__description" >
            <img src="https://economicas.unsa.edu.ar/web/archivos/otros/escudoUNSa.jpg">
          <h2> UNSa</h2>
          <p >
            Censo Forestal
            Pasantía en la cual realizaba la identificación de especies forestales nativas, georreferenciación,
            estado fitosanitario, de desarrollo, problemas que pudieren estar ocasionando y condiciones del
            espacio, entre otros.
          </p>
          <p>
            2018-2019
        </p>
        </div>
  
      </div>

    </div>