<div class="container__skill"> 
<div class="skill__tittle">

      <h2 id="experiencia">Experiencia</h2>
    </div>
    <app-btn-agregar-cont *ngIf="login" (click)="abrirModalAgregar()"></app-btn-agregar-cont>

      <div class="skill__grid" *ngFor="let experiencia of experiencia">
        <div class="skill__description" >
            <img [src]="experiencia.fotourl">
          <h2> {{experiencia.empresa}}</h2>
          <p >
            {{experiencia.descripcion}}
        
        </p>
        <p>
          Inicio: {{experiencia.inicio}} - Fin: {{experiencia.fin}}

        </p>
        <div>
          <app-btn-editar *ngIf="login" (click)="abrirModal(experiencia.idlaboral)" class="me-2"></app-btn-editar>   <app-btn-eliminar *ngIf="login" (click)="borrarExperiencia(experiencia.idlaboral)" > </app-btn-eliminar>

        </div>
        </div>
      


      </div>
      
            </div>
