
<section class="about">
  
    <div class="container">
      <h2 class="section__title">Sobre mi</h2>
      <div class="about__grid">
        <div class="about__description" >
          <app-btn-editar *ngIf="login" (click)="abrirModal(persona.idpersona)" class="me-2"></app-btn-editar> 

          <h2> Sobre mi</h2>
          <p>
      {{persona.acerca}}
          </p>
          <app-educacion></app-educacion>

        </div>
              <app-skill></app-skill>
              

      </div>
      
      <app-skillcircle></app-skillcircle>
