<app-nav></app-nav>
<div >
    <section id="home" class="home">
    <div class="home__background"></div>
    <picture>
        <source type="image/webp" srcset="{{persona.fotourl}}" /> <app-btn-editar *ngIf="login" (click)="abrirModal(persona.idpersona)" class="me-2"></app-btn-editar> 
        <source type="image/png" srcset="{{persona.fotourl}}" />
        <img class="home__profile" alt="picture profile" data-sr-id="fotoperfil" style="visibility: visible; opacity: 1; transition: filter 3s ease 0s, opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.35s;">
      </picture>
      <div class="home__description">
        <span class="home__title--primary d-flex">Hola!</span>
        <h1 class="home__title">Soy {{persona.nombre}}<br>{{persona.apellido}}</h1>
        <span class="home__title--secondary">{{persona.titulo}}</span>
        
      </div>
      
    </section>
    <app-about></app-about>

</div>

