<div class="row">
    <h2 class="mt-2 ms-2 tipoSkill"> Soft</h2> 
    <div *ngFor="let skill of datosSkills" class="col-6 col-md-3 " >
      
      <div>               
          <h4 class="d-flex justify-content-center align-items-end text-center habilidad">{{skill.titulo}} </h4>
          <circle-progress
          [percent]= skill.dominio
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#036403'"
          [innerStrokeColor]="'#80ffff'"
          [animation]="true"
          [animationDuration]="300"
          [lazy]="true"
          ></circle-progress>
        </div>    
    </div> 
  </div>
  
  <div class="row mt-2">
    <h2 class="mt-2 ms-2 tipoSkill">Hard</h2> 
    <div *ngFor="let skill of datosSkills " class="col-6 col-md-3 " >
      
      <div >               
          <h4 class="d-flex justify-content-center align-items-end text-center habilidad">{{skill.titulo}} </h4>
          <circle-progress
          [percent]= skill.dominio
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#004080'"
          [innerStrokeColor]="'#80ffff'"
          [animation]="true"
          [animationDuration]="300"
          [lazy]="true"
          ></circle-progress>
        </div>    
    </div> 
  </div>
    

  