
<div class="navbar__menu">
    <i class="fas fa-bars" aria-hidden="true"></i>
      </div>
      
        <ul class="navbar__links">
          <li class="navbar__link active" data-ref="home">
            <a href="#home">Instagram</a>
          </li>
          <li class="navbar__link" data-ref="about">
            <a href="#about">Facebook</a>
          </li>
          <li class="navbar__link" data-ref="services">
            <a href="#services">LinkedIn</a>
          </li>
          <li class="navbar__link" data-ref="portfolio">
            <a href="#portfolio">Skills</a>
          </li>
          <li class="navbar__link" data-ref="contact">
            <a href="#contact">Ingresar</a>
          </li>
        </ul>
