
<div class="navbar__menu">
    <i class="fas fa-bars" aria-hidden="true"></i>
      </div>
      
        <ul class="navbar__links">
          <li class="navbar__link active" data-ref="home">
            <picture>
              
              <source type="image/png" srcset="https://i.ibb.co/7GDK90N/logo-instagram-blanco.png" />
              <img alt="picture profile" class="img__red_1" data-sr-id="fotoinstagram" >
            </picture>
          </li>
          <li class="navbar__link active" data-ref="home">
            <picture>
              
              <source type="image/png" srcset="https://i.ibb.co/84rJYzH/md-5b01251200ff5.png" />
              <img alt="picture profile" class="img__red_1" data-sr-id="fotofacebook" >
            </picture>
          </li>
          <li class="navbar__link" data-ref="services">
            <a href="#services">LinkedIn</a>
          </li>
          <li class="navbar__link" data-ref="portfolio">
            <a href="#portfolio">Skills</a>
          </li>
          <li class="navbar__link" data-ref="contact">
            <a href="/login">Ingresar</a>
          </li>
        </ul>
