/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  .container{
     width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 px;
  }
  section {
    padding: 90px 0;
    text-align: center;
    background: white;
  }
  .section__title {
    color: grey;
    font-size: 35px;
    margin-bottom:40px;
    display: inline-block;
  }