/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  
  section {
    padding: 90px 0;
    text-align: center;
    background: white;
  }
  .section__title {
    color: grey;
    font-size: 35px;
    margin-bottom:40px;
    display: inline-block;
  }
  
@media (max-width: 991px) {
.navbar{
    position:fixed;
    background: transparent;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding: 0;
    margin:20px;
 
}
.navbar__logo {
    display: flex;
    align-items: center;
    
  }
  

  .navbar__links {
    list-style: none;
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 70%;
    
  }       
  
  .navbar__link {
    padding-left: 10px;
  }
  
  .navbar__link a {
    color: #8e8e8e;
    transition: color 0.3s;
  }
  
  .navbar__link a:hover {
    color: var(--blue);
    transition: color 0.3s;
  }
  
  .navbar__menu {
    display: none;
    align-items: center;
    font-size: 35px;
   
  }
  .img__red_1{
      
    width: 80%; 
      max-height: 50%;
    display: flex;
    align-items: center;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
